/* Navbar - header positioning */
header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  background: transparent;
}

@media (max-width: 578px) {
  header {
    position: fixed;
  }
}

@media (min-width: 579px) and (max-width: 768px) {
  header {
    position: fixed;
  }
}
